/*FUNDO DA PÁGINA*/
body {
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
}

.container-principal {
    background-color: white;
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #e1e4e8;
}

/*Titulo*/
.titulo {
    text-align: center;
    color: #5b6b7c;
    margin-bottom: 25px;
    font-weight: 600;
}

/*Campo de data e Texto*/
.input-bonito {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background-color: #f9fbfc;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    color: #333;
}

.input-bonito:focus {
    border-color: #8da2fb;
    background-color: #fff;
}

/* Botão de adicionar */
.btn-adicionar {
    width: 100%;
    background-color: #6c8cff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-adicionar:hover {
    background-color: #5a75e6;
}

/*LISTA DE TAREFAS*/
.card {
    background: white;
    border-bottom: 1px solid #f0f0f0;
    padding: 16px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
}

.card:hover {
    background-color: #fafbfc; 
    border-radius: 6px;
}

/*ESTILO DA HOME*/
.subtitulo {
    color: #7f8c8d; 
    font-size: 16px;
    margin-bottom: 35px; 
    line-height: 1.5;
}

.btn-inicio {
    display: inline-block; /*Faz o link se comportar como uma caixa*/
    background-color: #6c8cff;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(108, 140, 255, 0.2);
}
.btn-inicio:hover {
    background-color: #5a75e6;
    transform: translateY(-3px); /* O botão sobe um pouco ao passar o mouse*/
    box-shadow: 0 6px 15px rgba(108, 140, 255, 0.3);
}