{% extends "base.html" %}
{% block content %}
<div class="form-card">
    <form method="POST">
        <input type="text" name="titulo-tarefa" 
        id="titulo-tarefa" placeholder="Título da tarefa" 
        required value="{{ tarefa_selecionada.titulo_tarefa if tarefa_selecionada else '' }}">
        <input type="date" name="data-conclusao" 
        id="data-conclusao" value="{{ tarefa_selecionada.data_conclusao if tarefa_selecionada else '' }}">

        <button type="submit">Salvar</button>

        {% if tarefa_selecionada %}
            <a href="{{ url_for('agenda') }}" class="btn-cancel">Cancelar</a>
        {% endif %}
    </form>
</div>

<h2>Lista de Tarefas</h2>

{% if tarefas %}
    {% for tarefa in tarefas %}
    <div class="tarefa-card">
        <div class="tarefa-info">
            <span>{{ tarefa.titulo_tarefa }}</span>
            <span class="tarefa-data">{{ tarefa.data_conclusao }}</span>
        </div>

        <div class="botoes">
            <a href="{{ url_for('update', idTarefa=tarefa.id_tarefa) }}" class="button-concluir" style="text-decoration: none;">
                ✎
            </a>
            <a href="{{ url_for('delete', idTarefa=tarefa.id_tarefa) }}" class="button-excluir" style="text-decoration: none;">
                ✕
            </a>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="tarefa-card">
        <p>Nenhuma tarefa cadastrada</p>
    </div>
{% endif %}

{% endblock %}