{% extends "base.html" %}
{% block content %}
<div class="form-card">
    
    <h2 class="titulo-card">AGENDA</h2>

     <form method="POST">
         <input type="text" name="titulo-tarefa" 
        id="titulo-tarefa" placeholder="Título da tarefa"
         required>
         <input type="date" name="data-conclusao" 
         id="data-conclusao">
        <button type="submit">Adicionar Tarefa</button>
   </form>
</div>

<h2>Lista de Tarefas</h2>
<div class="tarefa-card">
{% if tarefas %}

     <ul>
     {%for tarefa in tarefas%}
         <li>{{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao }}</li>
        {% endfor %}
    </ul>

{% else %}

        <p>Nem uma tarefa cadastrada</p>

{% endif %}
         <div class="botoes">
             <button class="button-excluir">Excluir</button>
             <button class="button-concluir">Concluido</button>
        </div>
</div>
{% endblock %}